/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body {
    margin: 0;
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after {
    background: inherit;
    content: "";
    display: block;
    height: 0 !important;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}
#landing-page {
    margin: 0;
}
.site-inner {
    max-width: 100% !important;
    width: 100% !important;
}
#gplp-content {
    padding: 0 !important;
}
#gplp-content .content-area {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.site-main {
    margin: 0 !important;
}
.skip-link {
    display: none;
}
.gplp-header {
    background-color: #efeff3;
    color: #005d84;
    font-family: 'Signika', sans-serif;
}
.gplp-header p {
    font-size: 2.5rem;
    line-height: 30px;
    margin: 0;
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
}
.gplp-title {
    color: #fff;
    background: url('../img/title_bg.jpg');
    text-align: center;
    font-family: 'Signika', sans-serif;
}
.gplp-title .entry-title {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 70px;
    font-family: 'Signika', sans-serif;

}
.gplp-subtitle {
    color: #d0fdfd;
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    padding-bottom: 70px;
    padding-top: 5px;
}
.gplp-main-content {
    background-color: #f7fccc;
    font-family: "Signika",sans-serif;
    margin: 0 5%;
    max-width: 100%;
    position: relative;
}
.gplp-image{
    bottom: -30px;
    display: inline-block;
    float: left;
    margin-bottom: -100px;
    position: absolute;
    top: -30px;
}
.gplp-image img {
    border: 5px solid #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.15);
}
.gplp-form {
    display: grid;
    background-color: #f7fccc;
}
.gplp-form h3 {
    font-size: 2rem;
    margin: 0 0 0 40%;
    padding: 20px 0 20px 45px;
}
.gplp-form div.wpcf7 {
    background-color: #f7fccc;
    margin: 0 0 0 40%;
    padding: 0;
}
.gplp-form form {
    margin: 0 auto 0 40px;
    width: 100%;
    display: inline-block;
}
.gplp-form .row {
    width: 90%;
}
.gplp-form .row div {
    float: left;
    width: 49%;
}
.gplp-form .wide div {
    width: 100%;
}
.gplp-form .row input, .gplp-form .row select  {
    border: 1px solid #dce39e;
    border-radius: 5px;
    color: #444;
    font-family: "Signika",sans-serif;
    font-weight: 100;
    margin: 8px 5px;
    padding: 0 10px;
    width: 100%;
    height: 51px !important;
}
.gplp-form .row select {
    border: 1px solid #dce39e;
    background: #ffffff url("../img/down_arrow2.png") no-repeat scroll 95% 50% !important;
    border-radius: 5px !important;
    height: 51px !important;
    color: #122e4c !important;
    font-size: 15px !important;
    line-height: 17px !important;
    padding: 0px 10px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.gplp-form input::-webkit-input-placeholder {
   color: #999;
    font-family: "Signika",sans-serif;
    font-weight: 100;
    font-size: 1.15rem;
}
.gplp-form input:-moz-placeholder { /* Firefox 18- */
   color: #999;  
    font-family: "Signika",sans-serif;
    font-weight: 100;
    font-size: 1.15rem;
}
.gplp-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
    font-family: "Signika",sans-serif;
    font-weight: 100;
    font-size: 1.15rem;
}
.gplp-form input:-ms-input-placeholder {  
   color: #999;  
    font-family: "Signika",sans-serif;
    font-weight: 100;
    font-size: 1.15rem;
}
.gplp-form input.wpcf7-not-valid, .gplp-form select.wpcf7-not-valid {
    border: 1px solid #e3c09e;
}
.gplp-form .row div input {
    width: 85%;
}
.gplp-form .row div select  {
    width: 85%;
}
.gplp-form .wide input {
    width: 90.5%;
}
.gplp-form .wide input.button {
    width: 90%;
    margin: 20px 5px 30px;
}
.gplp-form input.button {
    background-color: #0088c1;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    height: 56px !important;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
}
.gplp-form input.button:hover {
    background-color: #005d84;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.gplp-form .wpcf7-response-output {
    clear: both;
    max-width: 80%;
}
.gplp-form span.wpcf7-not-valid-tip {
    color: #af0a0a;
    padding: 0 13% 0 0;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 100;
}
.gplp-form .wide span.wpcf7-not-valid-tip {
    color: #af0a0a;
    padding: 0 8.5% 0 0;
    text-align: right;
    font-size: 0.75rem;
}
.gplp-features {
    background-color: #fbfbfb;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #e6e6e6;
    color: #333333;
    padding: 60px 10px;
    font-family: 'Signika', sans-serif;
    clear: both;
}
.gplp-feature {
    border-left: 1px solid #eeeeee;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    font-weight: 100;
    vertical-align: top;
}
.gplp-feature i {
    color: #a0a0a0;
    font-size: 2rem;
    margin-top: 15px;
}
.gplp-feature h3 {
    color: #007fb4;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 10px 0;
}
.gplp-feature p {
    color: #7c7c7c;
    margin: 0 30px;
    padding-bottom: 20px;
}
.gplp-social-links {
    text-align: center;
    font-weight: 100;
    font-family: 'Signika', sans-serif;
}
.gplp-social-link:first-child {
    border-left: none;
}
.gplp-social-link {
    display: inline-block;
    font-size: 0.85rem;
    padding: 0;
    width: 22%;
    border-left: 1px solid #eeeeee;
    margin: 48px 0;
}
.gplp-social-link i {
    font-size: 2rem;
}
.gplp-social-link a {
    color: #323232;
    font-size: 0.6rem;
    text-decoration: none;
    text-transform: uppercase;
}
.gplp-social-link a:hover {
    color: #007fb4;
}
footer {
    background-color: #143839;
    color: #919b9c;
    font-family: 'Signika', sans-serif;
}
footer a {
    color: #98bfbf;
    text-decoration: none;
    font-weight: 100;
}
footer a:hover {
    color: #fff;
}
.gplp-footer-menu {
    display: inline-block;
    width: 49.5%;
}
.gplp-footer-menu ul {
    padding: 0;
    margin: 0;
} 
.gplp-footer-menu li {
    display: inline-block;
    font-size: 0.75rem;
    padding: 42px 20px;
    text-transform: uppercase;
}
.gplp-copyright {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 100;
    text-align: right;
    width: 48%;
}

@media only screen and (max-width: 70.625em) {
.gplp-form div.wpcf7 {
    background-color: #f7fccc;
    margin: 0 0 0 45%;
    padding: 0;
}
.gplp-form h3 {
    font-size: 2rem;
    margin: 0 0 0 45%;
    padding: 20px 0 20px 45px;
    /* position: relative; */
}
}

@media only screen and (max-width: 64em) { 

    .gplp-header p {
        font-size: 1.5rem;
        line-height: 30px;
        margin: 0;
        padding: 21px 0;
        text-align: center;
        text-transform: uppercase;
        color: #133a3d;
    }
    .gplp-subtitle {
        color: #d0fdfd;
        font-size: 0.85rem;
        font-weight: 100;
        margin: 0;
        padding: 5px 5px 70px;
    }
    .gplp-title .entry-title {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
        padding-bottom: 5px;
        padding-top: 70px;
    }

    .gplp-main-content {
        font-family: "Signika",sans-serif;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    
    .gplp-image {
        bottom: -30px;
        display: table;
        float: none;
        height: auto;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        top: -30px;
        width: 100%;
    }
    .gplp-image img {
        border: 5px solid #fff;
        border-radius: 5px;
        max-width: 30%;
    }
    .gplp-form {
        display: grid;
        background-color: #f7fccc;
        clear: both;
        padding-top: 30%;
    }
    .gplp-form form {
        margin: 0 0 0 7%;
        width: 90%;
    }
    .gplp-form h3 {
        font-size: 1.75rem;
        margin: 10% 0 5%;
        padding: 0;
        text-align: center;
        position: relative;
    }
    .gplp-form  div.wpcf7 {
        margin: 0;
        padding: 0;
    }
    .gplp-form .row div {
        float: none;
        width: 100%;
    }

    .gplp-form .wide input {
        width: 100% !important;
    }
    .gplp-form .row div select {
        width: 100%;
    }
    .gplp-form .row div input {
        width: 100%;
    }
    .gplp-form .row input, .gplp-form .row select {
        border: 1px solid #dce39e;
        border-radius: 5px;
        color: #444;
        font-size: 1.15rem;
        margin: 5px;
        padding: 0 10px;
        width: 100%;
        height: 40px !important;
    }
    .gplp-form .wide input.button {
        width: 100% !important;
        margin: 20px 5px 30px;
        color: #fff;
        padding: 16px 0;
        height: auto !important;
    }
    .gplp-form .wpcf7-response-output {
        margin: 0 0 35px;
        max-width: 90%;
    }
    .gplp-form span.wpcf7-not-valid-tip {
        color: #af0a0a;
        padding: 0 0 0;
        text-align: right;
        font-size: 0.75rem;
    }
    .gplp-form .wide span.wpcf7-not-valid-tip {
        color: #af0a0a;
        padding: 0 0 0;
        text-align: right;
        font-size: 0.75rem;
    }
    .gplp-features {
        background-color: #fbfbfb;
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #e6e6e6;
        color: #333333;
        padding: 30px 0;
        font-family: 'Signika', sans-serif;
        clear: both;
    }
    .gplp-feature {
        border-left: 1px solid #eeeeee;
        display: inline-block;
        font-weight: 100;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .gplp-feature .borderbottom {
        border-bottom: 1px solid #eeeeee;
        margin: 15px auto 20px;
        width: 55%;
    }
    .gplp-feature:last-child .borderbottom {
        border-bottom: none;
        margin: 0;
    }
    .gplp-feature h3 {
        color: #007fb4;
        font-size: 1.25rem;
        font-weight: 400;
        margin: 8px 0 10px;
    }
    .gplp-social-link {
        display: inline-block;
        font-size: 0.85rem;
        padding: 15px 0;
        width: 100%;
        border-bottom: 1px solid #f2f2f2;
        margin: 0;
    }

    .gplp-footer-menu {
        display: inline-block;
        width: 100%;
    }
    .gplp-footer-menu ul {
        padding: 0;
        margin: 15px 0;
    } 
    .gplp-footer-menu li {
        display: block;
        font-size: 0.75rem;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
    }

    .gplp-copyright {
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 100;
        text-align: center;
        width: 100%;
    }
}
